
@using PagedList
@using PagedList.Mvc

@model IPagedList<MvcKutuphane1.Models.Entity.TBLKITAP>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kitap Sayfası</h2>
@using (Html.BeginForm("Index", "Kitap", FormMethod.Get))
{
    <div style="margin-bottom:25px" class="col-md-5">
        <b>Kitap Adı: </b> @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </div>
}

<table class="table table-bordered">
    <tr>
        <th>Kitap ID</th>
        <th>Kitap Ad</th>
        <th>Kitap Kategori</th>
        <th>Kitap Yazar</th>
        <th>Kitap Basım Yıl</th>
        <th>Kitap Yayınevi</th>
        <th>Kitap Sayfa</th>
        <th>Kitap Durum</th>
        <th>Kitap Resim</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var ktp in Model)
    {
        <tr>
            <td>@ktp.ID</td>
            <td>@ktp.AD</td>
            <td>@ktp.TBLKATEGORI.AD</td>
            <td>@ktp.TBLYAZAR.AD&nbsp @ktp.TBLYAZAR.SOYAD</td>
            <td>@ktp.BASIMYIL</td>
            <td>@ktp.YAYINEVI</td>
            <td>@ktp.SAYFA</td>
            <td>@ktp.DURUM</td>
            <td><img width="75" height="100" src="@ktp.KITAPRESIM" /></td>
            <td><a href="/Kitap/KitapSil/@ktp.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Kitap/KitapGetir/@ktp.ID" class="btn btn-warning">Düzenle</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
<a href="/Kitap/KitapEkle" class="btn btn-primary">Yeni Kitap Ekle</a>